.pagination {
  $self: &;

  display: flex;
  justify-content: center;
  margin-top: 60px;

  @include sm {
    margin-top: 40px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &--active {
      #{$self}__link {
        color: var(--color-white);
        background-color: #8c3396;
      }
    }

    &--disabled {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-right: 8px;

      @include sm {
        margin-right: 10px;
      }
    }
  }

  &__link {
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    color: #8c3396;
    font-size: 20px;
    border: 1px solid rgba(140, 51, 150, 0.4);
    background-color: var(--color-white);
    transition: 0.3s;

    @include sm {
      width: 36px;
      height: 36px;
      font-size: 18px;
    }

    &--current,
    &:hover {
      color: var(--color-white);
      background-color: #8c3396;
    }
  }
}
