.specialties {
  padding: 60px 0;

  &__container {
  }

  &__list {
    padding-left: 25px;
  }

  &__item {
    list-style: disc outside;

    a {
      color: var(--color-coral-red);

      &:hover {
        color: var(--color-scarlet);
      }
    }
  }

  &__link {
    color: var(--color-coral-red);

    &:hover {
      color: var(--color-scarlet);
    }
  }

  &__sublist {
    padding-left: 25px;
  }

  &__subitem {
    list-style: circle outside;
  }

  .cat-item {
    list-style: disc outside;

    a {
      color: var(--color-coral-red);

      &:hover {
        color: var(--color-scarlet);
      }
    }

    ul.children {
      padding-left: 25px;

      li.cat-item {
        list-style: circle outside;
      }
    }
  }
}
