// COLORS

$color-colar-red: #ff4043;

:root {
  --color-white: #fff;
  --color-black: #261f44;
  --color-grape: #45164b;
  --color-shamrock: #34df81;
  --color-coral-red: #ff4043;
  --color-scarlet: #eb2700;
  --color-java: #1ebebe;
  --color-purple-hearth: #672ebb;
  --color-text-light: #f4f4f5;
  --color-text-info: #1ebebe;
  --color-btn-success: #34df81;
  --color-btn-success-hover: #12b25e;
  --color-haiti: #2c0e30;
  --color-text-muted: #6f6985;
  --color-btn-secondary: #672ebb;
  --color-btn-secondary-hover: #56269c;
  --color-gray: #eae9ec;
  --color-text-danger: #ea4336;
  --color-outrageous-orange: #ff5938;
}
